html {
  font-size: 18px
  width: 960px;
}

header {
  margin-top: 0.66rem;
  margin-bottom: 0.66rem;
  background-color: black;
}

.logo {
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
  font-family: Helvetica;
  font-size: 1rem;
}

.mainbanner {
  background-image: url("../images/moto.jpeg");
}
